
.center {
    width: 100%;
    height: 105vh;
    background-color: #21b10b;    
    background-image: url("Background.jpeg");
    background-size: cover;
        
}

.top_left {
    
    width: 80%;
    height: 10vh;
    background-color:  rgba(254, 253, 252, 0.2);
    float: left;
    
}
.top_right {
    
    width: 20%;
    height: 5vh;
    float: right;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px .5px;
    cursor: pointer;
    border-radius: 8px;
  }



.left {
    width: 80%;
    height: 90vh;
    background-color:  rgba(239, 159, 79, 0.3);
    float: left;
      
    
}


.box_top {
    width: 100%;
    height: 5vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    text-align:center;
    font-size: 24px;
    color: darkgreen;
    line-height:1%
    
}

.box1 {
    width: 100%;
    height: 20vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    background-image: url("1.png");
    background-size: cover;
    text-align:left;
    font-size: 20px;
    color: white;
  
    
}
.box2 {
    width: 100%;
    height: 20vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    background-image: url("2.png");
    background-size: cover;
    text-align:left;
    font-size: 20px;
    color: white;
  
    
}
.box3 {
    width: 100%;
    height: 20vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    background-image: url("3.png");
    background-size: cover;
    text-align:left;
    font-size: 20px;
    color: white;
  
    
}
.box4 {
    width: 100%;
    height: 20vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    text-align:left;
    font-size: 20px;
    color: darkgreen;
  
    
}
.box5 {
    width: 100%;
    height: 20vh;
    background-color:  rgba(254, 253, 252, 0.7);
    float: right;
    border: 1px solid rgb(255, 255, 255);
    text-align:left;
    font-size: 20px;
    color: darkgreen;
  
    
}